@using Newtonsoft.Json.Linq

@{
    ViewData["Title"] = "RecommendBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RecommendBooks</h1>

@if (ViewBag.Recommendations != null)
{
    <div>
        @foreach (var book in JArray.Parse(ViewBag.Recommendations["items"]))
        {
            <div class="book">
                <h3>@book["volumeInfo"]["title"]</h3>
                <p>Autor: @string.Join(", ", book["volumeInfo"]["authors"])</p>
                <p>Descripción: @book["volumeInfo"]["description"]</p>
            </div>
        }
    </div>
}
else
{
    <p>No se encontraron recomendaciones para el título ingresado.</p>
}